.container-success-state {
    width: 100%;
    text-align: center;

    img {
        width: 50%;
        margin-bottom: 30px;
    }

    h1 {
        font-weight: bold;
        font-size: 2em;
        margin-bottom: 15px;
    }
}